page-home {
    .background {
        background-image: url("../../assets/imgs/wallpaper.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
